/*------ Settings ------*/
.container {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container .eye {
  border: 2px solid transparent;
  border-radius: 9999px;
  background-color: transparent;
  padding: 5px;
  position: absolute;
  transition: 0.4s ease;
  animation: keyframes-fill 0.5s;
}

.container .eye:hover {
  background-color: #042f2e;
}

.container .eye:active {
  border: 2px solid #3f3f46;
}

.container .eye-slash {
  border: 2px solid transparent;
  border-radius: 9999px;
  background-color: transparent;
  padding: 5px;
  position: absolute;
  transition: 0.4s ease;
  animation: keyframes-fill 0.5s;
  display: none;
}

.container .eye-slash:hover {
  background-color: #042f2e;
}

.container .eye-slash:active {
  border: 2px solid #3f3f46;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}
